  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 8%)
    ;
}

.container{
    width: 350px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

.card{
    padding: 30px;
}

.image{
    display: flex;
    justify-content: center;
}

.image img{
    width: 90px;
    border-radius: 50px;
}

.links{
    display: flex;
    flex-direction: column;
}


.links  a{
    text-decoration: none;
    color:  hsl(0, 0%, 100%);
    background-color:  hsl(0, 0%, 20%);
    height: 45px;
    border-radius: 7px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.links a p{
    margin-top: 10px;
}

.info{
    margin-top: 20px;
}

.info h2{
    color: hsl(0, 0%, 100%);
    text-align: center;
}

.info p{
    margin-top: 10px;
    color:  hsl(75, 94%, 57%);
    text-align: center;
    font-size: 14px;
}

.about{
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 14px;
}

.about p{
    color:   hsl(0, 0%, 100%);
    text-align: center;
}

.links a:hover{
    background-color:  hsl(75, 94%, 57%);
    color: black;
}