
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;
    background-color:hsl(212, 45%, 89%);
}

.card{
    padding: 15px;
}
.container{
    width: 270px;
    height: 430px;
    border-radius: 13px;
    background-color:  hsl(0, 0%, 100%);
}

.text{
    text-align: center;
    padding-top: 15px;
}

.title{
    color: hsl(218, 44%, 22%);
}

.info{
    color:  hsl(220, 15%, 55%);
    font-size: 15px;
    padding-top: 10px;
}

.image{
   width: 100%;
   border-radius: 13px;
}